<template id="line-item-selector-component">
  <tr>
    <td>
      <input v-if="show_line_item_checked_for_procurement" type="checkbox" v-model="line_item.checked_for_procurement">
    </td>
    <!-- 品名 -->
    <td class="td-v-align" v-bind:class="{ 'has-error': line_item.errors && line_item.errors.item_id }">
      <select v-if="editable" class="input-sm form-control" v-model="line_item.item_id">
        <option selected disabled value="">-- 請選取商品 --</option>
        <option v-for="i in available_items" v-bind:value="i.id">{{ i.sku + ' - ' + i.name }}</option>
      </select>
      <span v-else>{{ line_item.item.sku + ' - ' + line_item.item.name }}</span>
    </td>
    <!-- 保存期限 -->
    <td v-if="procurable || procured" class="td-v-align">
      <input v-if="procurable" type="date" class="no-outline" style="width: 140px" v-model="line_item.expiry_date">
      <div v-if="line_item.errors && line_item.errors.expiry_date"><span class="text-danger">{{ line_item.errors.expiry_date }}</span></div>
      <span v-if="procured">{{ line_item.variant.expiry_date }}</span>
    </td>
    <!-- GTP資訊 -->
    <td v-if="procurable || procured" class="td-v-align">
      <button
        class="btn btn-sm btn-default"
        data-toggle="modal"
        data-target="#gtp-info-modal-{{ line_item.id }}">
        <div v-if="procurable">
          輸入
          <i v-if="gtp_info_filled" class="fa fa-check text-navy"></i>
          <i v-else class="fa fa-ellipsis-h text-danger"></i>
        </div>
        <div v-if="procured"><i class="fa fa-ellipsis-h m-l-xs m-r-xs"></i></div>
      </button>
        <!-- GTP資訊modal -->
        <div v-if="procurable || procured" class="modal inmodal" id="gtp-info-modal-{{ line_item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">輸入GTP資訊</h4>
              </div>

              <div class="modal-body">
                <dl class="dl-horizontal">
                  <div class="form-group">
                    <dt class="control-dt">輸入許可通知編號</dt>
                    <dd>
                      <input v-if="procurable" type="text" v-model="line_item.import_admitted_notice_number">
                      <span v-if="procured">{{ line_item.variant.import_admitted_notice_number }}</span>
                    </dd>
                  </div>
                  <div class="form-group">
                    <dt class="control-label">項次</dt>
                    <dd>
                      <input v-if="procurable" type="text" v-model="line_item.item_number">
                      <span v-if="procured">{{ line_item.variant.item_number }}</span>
                    </dd>
                  </div>
                  <div class="form-group">
                    <dt class="control-label">製造批號</dt>
                    <dd>
                      <input v-if="procurable" type="text" v-model="line_item.lot_number">
                      <span v-if="procured">{{ line_item.variant.lot_number }}</span>
                    </dd>
                  </div>
                  <div class="form-group">
                    <dt class="control-label">許可通知書</dt>
                    <dd>
                      施工中...
                    </dd>
                  </div>
                </dl>
              </div> <!-- modal body -->

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
              </div>
            </div>
          </div>
        </div>
    </td>
    <!-- 進貨量 -->
    <td v-if="procured" class="td-v-align">N/A</td>
    <td v-else class="td-v-align">
      <span class="text-danger">{{ line_item.errors && line_item.errors.quantity }}</span>
      <input v-if="editable" class="no-border no-outline" type="number" min="1" placeholder="數量" v-model="line_item.quantity" number>
      <span v-else>{{ line_item.quantity }}</span>
    </td>
    <!-- 入庫量 -->
    <td v-if="procured" class="td-v-align">{{ line_item.quantity }}</td>
    <td v-if="procurable" class="td-v-align">
      <input class="no-outline input-s-sm" style="width: 60px" type="number" min="1" max="{{ line_item.quantity }}" v-model="line_item.quantity_to_procure" number>
      <div><span class="text-danger">{{ line_item.errors && line_item.errors.quantity_to_procure }}</span></div>
    </td>
    <!-- 入庫後數量 or 庫存量 -->
    <td v-if="procured" class="td-v-align">{{ line_item.item.on_hand_count }}</td>
    <td v-else class="td-v-align">{{ after_count }}</td>
    <!-- 單價 -->
    <td class="td-v-align">
      <span class="text-danger">{{ line_item.errors && line_item.errors.unit_price }}</span>
      <input v-if="editable" class="no-border no-outline input-s-sm" type="number" min="0" placeholder="單價" v-model="line_item.unit_price" number>
      <span v-else>{{ line_item.unit_price }}</span>
    </td>
    <!-- 稅率 -->
    <td class="td-v-align">
      <span class="text-danger">{{ line_item.errors && line_item.errors.tax_rate }}</span>
      <input v-if="editable" class="no-border no-outline input-s-sm" type="number" min="0" placeholder="稅率" v-model="line_item.tax_rate" number>%
      <span v-else>{{ line_item.tax_rate }}</span>
    </td>
    <!-- 金額 -->
    <td class="td-v-align">{{ procurable ? (procurement_total || 0) : (total || 0) }}</td>
    <!-- Delete button -->
    <td v-if="editable" class="td-v-align"><div @click="pressDeleteButton(index)" class="cursor-pointer"><i class="fa fa-trash-o"></i></div></td>
  </tr>
</template>

<script type="text/javascript">
var LineItemSelectorComponent = Vue.extend({
  template: '#line-item-selector-component',
  props: {
    procurable: {
      type: Boolean,
      default: false
    },
    procured: {
      type: Boolean,
      default: false
    },
    editable: {
      type: Boolean,
      default: false
    },
    line_item: Object,
    available_items: Array,
    index: Number,
  },
  computed: {
    total: function() {
      var total = 0
      var unit_price = parseFloat(this.line_item.unit_price)
      if (_.isInteger(this.line_item.quantity) && _.isNumber(unit_price)) {
        total = this.line_item.quantity * unit_price
      }
      this.line_item.total = total
      return total
    },
    procurement_total: function() {
      var procurement_total = 0
      var unit_price = parseFloat(this.line_item.unit_price)
      if (this.line_item.checked_for_procurement && _.isInteger(this.line_item.quantity_to_procure) && _.isNumber(unit_price)) {
        procurement_total = this.line_item.quantity_to_procure * unit_price
      }
      this.line_item.procurement_total = procurement_total
      return procurement_total
    },
    show_line_item_checked_for_procurement: function() {
      return this.procurable && !this.procured
    },
    after_count: {
      get: function() {
        if (!_.isInteger(this.line_item.item_id)) {
          return ''
        }
        var that = this
        var selected_item = _.find(this.available_items, function(item) {
          return item.id == that.line_item.item_id
        })

        if (_.isUndefined(selected_item)) { // 當item list尚未下載完成前，selected_item為undefined
          return null
        }
        else {
          var available_count = parseInt(selected_item.available_count)
          var quantity = this.procurable ? parseInt(this.line_item.quantity_to_procure) : parseInt(this.line_item.quantity)
          return available_count + quantity
        }
      }
    },
    gtp_info_filled: function() {
      var a = !_.isEmpty(this.line_item.import_admitted_notice_number)
      var b = !_.isEmpty(this.line_item.item_number)
      var c = !_.isEmpty(this.line_item.lot_number)
      return (a && b && c)
    }
  },
  methods: {
    pressDeleteButton: function(index) {
      this.$dispatch('press-delete-button', index)
    }
  }
})
</script>
