<div class="row">
  <%= link_to "新增付款方式(施工中)", '#', class: 'btn btn-default btn-md' %>
</div>

<div class="row table-container" id="payment_methods-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>預設</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="payment_method in payment_methods"
          class="cursor-pointer"
          data-toggle="modal"
          data-target="#edit-payment_methods-modal"
          @click="setupEditPaymentMethod($index)">
        <td>{{ payment_method.name }}</td>
        <td><i class="fa fa-check" v-show="payment_method.default"></i></td>
      </tr>
    </tbody>
  </table>

  <!-- Edit payment_methods modal -->
  <div class="modal inmodal" id="edit-payment_methods-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">

        <div class="modal-header">
          <h4 class="modal-title">編輯付款方式</h4>
        </div>

        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-md-3 control-label">* 名稱</label>
              <div class="col-md-7">
                <input type="text" class="form-control input-sm" v-model="editing_payment_method.name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-7 col-md-offset-3">
                <div class="checkbox">
                  <label class="control-label">
                    <i v-if="editing_payment_method.default_was" class="fa fa-check"></i>
                    <input v-else type="checkbox" v-model="editing_payment_method.default">
                    預設付款方式
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" @click="updatePaymentMethod" data-dismiss="modal">儲存</button>
        </div>
      </div>
    </div>
  </div>

  <%= render 'common/vue_data' %>

</div>

<% content_for :js do %>
<script type="text/javascript">
  new Vue({
    el: "#payment_methods-table",
    data: {
      payment_methods: [],
      editing_payment_method: {},
    },
    ready: function() {
      this.getPaymentMethodList()
    },
    methods: {
      getPaymentMethodList: function() {
        var that = this
        $.ajax({
          url: '/api/v1/payment_methods',
          dataType: 'JSON',
        }).done(function(data) {
          that.payment_methods = data.payment_methods
        }).fail(function(err) {
          console.log(err)
        })
      },
      setupEditPaymentMethod: function(payment_method_index) {
        this.editing_payment_method = _.cloneDeep(this.payment_methods[payment_method_index])
        this.editing_payment_method.default_was = this.editing_payment_method.default
      },
      updatePaymentMethod: function() {
        var that = this
        $.ajax({
          url: "/api/v1/payment_methods/" + that.editing_payment_method.id,
          method: "PATCH",
          dataType: 'JSON',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: that.editing_payment_method,
        }).done(function(data) {
          that.getPaymentMethodList();
        }).fail(function(err) {
          console.log(err)
          alert(err.responseJSON.errors)
        })
      },
    }
  })
</script>
<% end %>
