<template id="purchase-order-component">
  <div class="col-md-12">
    <div class="col-md-5">
      <dl class="dl-horizontal">
        <div class="form-group">
          <dt class="control-label">供應商</dt>
          <dd>
            <select class="input-sm" v-model="order.partner_id">
              <option selected disabled value="">-- 選取供應商 --</option>
              <option v-for="supplier in options.suppliers" v-bind:value="supplier.id">{{ supplier.name }}</option>
            </select>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>採購單號</dt>
        <dd>施工中...</dd>
      </div>
      <div class="form-group">
        <dt>票據送至</dt>
        <dd>
          <select class="input-sm" v-model="order.bill_to_location_id">
            <option selected disabled value="">-- 選取票據寄送地點 --</option>
            <option v-for="location in options.locations" v-bind:value="location.id">{{ location.name }}</option>
          </select>
        </dd>
      </div>
      <div class="form-group">
        <dt>貨品送至</dt>
        <dd>
          <select class="input-sm" v-model="order.ship_to_location_id">
            <option selected disabled value="">-- 選取貨品寄送地點 --</option>
            <option v-for="location in options.stockable_locations" v-bind:value="location.id">{{ location.name }}</option>
          </select>
        </dd>
      </div>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>收貨日期</dt>
        <dd><input type="date"></dd>
      </div>
      <div class="form-group">
        <dt>Email</dt>
        <dd><input type="text"></dd>
      </div>
      <div class="form-group">
        <dt>收據上傳</dt>
        <dd>施工中...</dd>
      </div>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>幣別</dt>
        <dd>台幣</dd>
      </div>
      <div class="form-group">
        <dt>價別</dt>
        <dd>
          <select v-model="price_list" class="input-sm">
            <option selected disabled value="">-- 選取價別 --</option>
            <option value="0">進貨價</option>
            <option v-for="price_list in options.price_lists" v-bind:value="price_list.id">{{ price_list.name }}</option>
          </select>
        </dd>
      </div>
      <div class="form-group">
        <dt>總金額</dt>
        <dd>
          <select v-model="order.tax_treatment" class="input-sm">
            <option selected value="exclusive">稅外</option>
            <option value="inclusive">稅入</option>
          </select>
        </dd>
      </div>
    </dl>
  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-12">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <td></td>
          <td>品名</td>
          <td>數量</td>
          <td>進貨後數量</td>
          <td>單價</td>
          <td>稅率</td>
          <td>金額</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in order_line_items"
          is="item-selector-component"
          :item="item"
          :index="$index"
          :available_items="options.items"
          v-on:press-delete-button="removeItem">
        </tr>
      </tbody>
    </table>
    <div class="text-center"><button class="btn btn-default" @click="addNewItem"><i class="fa fa-plus"></i> 新增商品</button></div>
  </div>

  <div class="col-md-12"><hr class="m-t-lg"></div>

  <div class="col-md-12 m-t">
    <div class="col-md-6 m-t">
      <textarea v-model="order.notes" placeholder="備註:" rows="4" class="form-control input-sm"></textarea>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <ul class="list-group no-padding">
        <li class="list-group-item">
          <span>總數量</span>
          <span class="pull-right">{{ total_units }}</span>
        </li>
        <li class="list-group-item">
          <span>金額小計</span>
          <span class="pull-right">NT$ {{ subtotal }}</span>
        </li>
        <li class="list-group-item">
          <span>稅額</span>
          <span class="pull-right">NT$ {{ total_tax }}</span>
        </li>
        <li class="list-group-item">
          <span>總金額</span>
          <span class="pull-right">NT$ {{ total_amount }}</span>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-12">
    <div class="form-group col-md-4">
      <label class="control-label">Tags</label>
      <input type="text" class="form-control input-sm" placeholder="施工中...">
    </div>

  </div>
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-default">取消</button>
      <button class="btn btn-default">存為草稿</button>
      <button class="btn btn-primary" @click="submitForm">建立進貨單</button>
    </div>
  </div>
</template>

<script type="text/javascript">
var purchaseOrderComponent = Vue.extend({
  template: '#purchase-order-component',
  components: {
    'item-selector-component': ItemSelectorComponent
  },
  data: function() {
    return {
      order: {
        subtotal: 0,
        tax_treatment: 'exclusive',
        total_tax: 0,
        total_amount: 0,
      },
      order_line_items: [],
      item_template: {
        id: null,
        quantity: 1,
        unit_price: null,
        tax_rate: null,
        total: 0
      },
      price_list: null,
      options: {
        suppliers: [],
        locations: [],
        price_lists: [],
        items: [],
        stockable_locations: [],
      }
    }
  },
  computed: {
    total_units: function() {
      var total_units = 0
      this.order_line_items.forEach(function(item) {
        // 選定了商品時才計入
        if (_.isInteger(item.quantity) && _.isInteger(item.id)) {
          total_units += item.quantity
        }
      })
      return total_units
    },
    subtotal: function() {
      var subtotal = 0
      this.order_line_items.forEach(function(item) {
        if (_.isInteger(item.total) && _.isInteger(item.id)) {
          subtotal += item.total
        }
      })
      this.order.subtotal = subtotal
      return subtotal
    },
    total_tax: function() {
      var total_tax = 0
      var that = this
      this.order_line_items.forEach(function(item) {
        if (_.isInteger(item.id) && _.isInteger(item.total) && _.isNumber(item.tax_rate)) {
          if (that.order.tax_treatment === 'exclusive') {
            total_tax += item.total * item.tax_rate / 100
          }
          else {
            // 推導
            // total_without_tax * (100 + tax_rate) / 100 = total
            // total_without_tax * (100 + tax_rate) / 100 = total_without_tax + tax
            // total_without_tax * (100 + tax_rate) / 100 - total_without_tax = tax
            // total_without_tax * ((100 + tax_rate) / 100 - 1) = tax
            // (total - tax) * ((100 + tax_rate) / 100 - 1) = tax
            // total * ((100 + tax_rate) / 100 - 1) - tax * ((100 + tax_rate) / 100 - 1) = tax
            // total * ((100 + tax_rate) / 100 - 1) = tax + tax * ((100 + tax_rate) / 100 - 1)
            // total * ((100 + tax_rate) / 100 - 1) = tax * (1 + ((100 + tax_rate) / 100 - 1))
            // total * ((100 + tax_rate) / 100 - 1) / (1 + ((100 + tax_rate) / 100 - 1)) = tax
            // total / (1 / ((100 + tax_rate) / 100 - 1) + 1) = tax
            total_tax += item.total / (1 / ((100 + item.tax_rate) / 100 - 1) + 1)
          }
        }
      })
      total_tax = Math.round(total_tax * 100) / 100
      this.order.total_tax = total_tax
      return total_tax
    },
    total_amount: function() {
      var total_amount = 0
      if (_.isNumber(this.subtotal) && _.isNumber(this.total_tax)) {
        if (this.order.tax_treatment === 'exclusive') {
          total_amount = this.subtotal + this.total_tax
        }
        else if (this.order.tax_treatment === 'inclusive') {
          total_amount = this.subtotal
        }
      }
      this.order.total_amount = total_amount
      return total_amount
    }
  },
  ready: function() {
    this.getSupplierList()
    this.getLocationList()
    this.getStockableLocationList()
    this.getPriceList()
    this.getItemList()
    this.addNewItem()
  },
  methods: {
    getSupplierList: function() {
      var that = this
      $.ajax({
        url: "/api/v1/suppliers",
        method: "GET",
        dataType: "json"
      }).done(function(data) {
        that.options.suppliers = data.suppliers
      })
    },
    getLocationList: function() {
      var that = this
      $.ajax({
        url: "/api/v1/locations",
        method: "GET",
        dataType: "json"
      }).done(function(data) {
        that.options.locations = data.locations
      })
    },
    getStockableLocationList: function() {
      var that = this
      $.ajax({
        url: "/api/v1/locations/holds_stock",
        method: "GET",
        dataType: "json"
      }).done(function(data) {
        that.options.stockable_locations = data.locations
      })
    },
    getPriceList: function() {
      var that = this
      $.ajax({
        url: "/api/v1/price_lists/purchase",
        method: "GET",
        dataType: "json"
      }).done(function(data) {
        that.options.price_lists = data.price_lists
      })
    },
    getItemList: function() {
      var that = this
      $.ajax({
        url: "/api/v1/items",
        method: "GET",
        dataType: "json"
      }).done(function(data) {
        that.options.items = data.items
      })
    },
    addNewItem: function() {
      this.order_line_items.push(_.cloneDeep(this.item_template))
    },
    removeItem: function(index) {
      this.order_line_items.$remove(this.order_line_items[index])
    },
  }
})
</script>
