<div id="purchase-order" class="col-md-10">
  <purchase-order-component :edit_mode="true"></purchase-order-component>
</div>

<% content_for :js do %>
  <%= render 'components/line_item_selector' %>
  <%= render 'components/purchase_order' %>

  <script type="text/javascript">
    new Vue({
      el: '#purchase-order',
      components: {
        'purchase-order-component': purchaseOrderComponent
      }
    })
  </script>
<% end %>
