<div id="new-purchase-order-form">
  <div class="col-md-10">
    <div class="col-md-4">
      <dl class="dl-horizontal">
        <div class="form-group">
          <dt>供應商</dt>
          <dd>
            <select class="input-sm" v-model="order.partner_id">
              <option selected disabled value="">-- 選取供應商 --</option>
              <option v-for="supplier in options.suppliers" v-bind:value="supplier.id">{{ supplier.name }}</option>
            </select>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="col-md-10"><hr></div>

  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>採購單號</dt>
        <dd>施工中...</dd>
      </div>
      <div class="form-group">
        <dt>票據送至</dt>
        <dd>
          <select class="input-sm" v-model="order.bill_to_location_id">
            <option selected disabled value="">-- 選取票據寄送地點 --</option>
            <option v-for="location in options.locations" v-bind:value="location.id">{{ location.name }}</option>
          </select>
        </dd>
      </div>
      <div class="form-group">
        <dt>貨品送至</dt>
        <dd>
          <select class="input-sm" v-model="order.ship_to_location_id">
            <option selected disabled value="">-- 選取貨品寄送地點 --</option>
            <option v-for="location in options.stockable_locations" v-bind:value="location.id">{{ location.name }}</option>
          </select>
        </dd>
      </div>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>收貨日期</dt>
        <dd><input type="date"></dd>
      </div>
      <div class="form-group">
        <dt>Email</dt>
        <dd><input type="text"></dd>
      </div>
      <div class="form-group">
        <dt>收據上傳</dt>
        <dd>施工中...</dd>
      </div>
    </dl>
  </div>
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <div class="form-group">
        <dt>幣別</dt>
        <dd>台幣</dd>
      </div>
      <div class="form-group">
        <dt>價別</dt>
        <dd>
          <select v-model="price_list" class="input-sm">
            <option selected disabled value="">-- 請選取價別 --</option>
            <option value="0">進貨價</option>
            <option v-for="price_list in options.price_lists" v-bind:value="price_list.id">{{ price_list.name }}</option>
          </select>
        </dd>
      </div>
      <div class="form-group">
        <dt>總金額</dt>
        <dd>稅外/稅入</dd>
      </div>
    </dl>
  </div>

  <div class="col-md-10"><hr></div>

  <div class="col-md-10">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td></td>
          <td>品名</td>
          <td>數量</td>
          <td>進貨後數量</td>
          <td>單價</td>
          <td>稅率</td>
          <td>金額</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in order.items"
          is="item-selector-component"
          :item="item"
          :index="$index"
          :available_items="options.items"
          v-on:press-delete-button="removeItem">
        </tr>
      </tbody>
    </table>
    <button class="btn btn-default" @click="addNewItem">新增商品</button>
  </div>

  <div class="col-md-12">
    <%= render 'common/vue_data' %>
  </div>
</div>


<template id="item-selector-component">
  <tr>
    <td></td>
    <td>
      <select class="input-sm" v-model="item.id">
        <option selected disabled value="">-- 請選取商品 --</option>
        <option v-for="i in available_items" v-bind:value="i.id">{{ i.name }}</option>
      </select>
    </td>
    <td><input type="number" min="1" placeholder="數量" value="1" v-model="item.quantity"></td>
    <td>施工中...</td>
    <td><input type="number" min="0" placeholder="單價" v-model="item.unit_price"></td>
    <td><input type="number" min="0" placeholder="稅率" v-model="item.tax_rate"></td>
    <td>施工中...</td>
    <td><div @click="pressDeleteButton(index)" class="cursor-pointer"><i class="fa fa-trash-o"></i></div></td>
  </tr>
</template>
