<div id="purchase-order" class="row">
  <purchase-order-component mode="show" :purchase_order_id="<%= @purchase_order.id %>"></purchase-order-component>
</div>

<% content_for :js do %>
  <%= render 'components/purchase_order/purchase_order' %>

  <script type="text/javascript">
    new Vue({
      el: '#purchase-order',
      components: {
        'purchase-order-component': PurchaseOrderComponent
      },
    })
  </script>
<% end %>
