<div id="new-partner-form">
  <new-partner-form-component mode="new"></new-partner-form-component>
</div>

<% content_for :js do %>
  <%= render 'components/partner_form' %>

  <script type="text/javascript">
    new Vue({
      el: "#new-partner-form",
      components: {
        'new-partner-form-component': PartnerFormComponent
      }
    })
  </script>
<% end %>
