<div id="price-lists-page">
  <div>
    <button
      class="btn btn-default btn-md"
      data-toggle="modal"
      data-target="#price-lists-form-modal"
      @click="setupNewPriceList">新增 Price List</button>

    </button>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名稱</th>
          <th></th>
          <th>類型</th>
          <th>預設</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="price_list in price_lists"
            class="cursor-pointer"
            data-toggle="modal"
            data-target="#price-lists-form-modal"
            @click="setupEditPriceList($index)">
          <td>{{ price_list.name }}</td>
          <td></td>
          <td>{{ price_list.price_list_type_in_chinese }}</td>
          <td></td>
        </tr>
        <tr>
          <td>進貨價</td>
          <td>內建</td>
          <td>進貨</td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>批發價</td>
          <td>內建</td>
          <td>銷售</td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>零售價</td>
          <td>內建</td>
          <td>銷售</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- Edit price_lists modal -->
    <div class="modal inmodal" id="price-lists-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content animated fadeIn">

          <div class="modal-header">
            <h4 class="modal-title">{{ form_title }}</h4>
          </div>

          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group" v-bind:class="{ 'has-error': errors.name }">
                <label class="col-md-3 control-label">* 名稱</label>
                <div class="col-md-7">
                  <input type="text" class="form-control input-sm" v-model="editing_price_list.name">
                  <span class="text-danger">{{ errors.name }}</span>
                </div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-error': errors.price_list_type }">
                <label class="col-md-3 control-label">* 類型</label>
                <div class="col-md-7">
                  <div>
                    <label class="control-label">
                      <input name="price-list-type" type="radio" v-model="editing_price_list.price_list_type" value="purchase"> 進貨
                    </label>
                  </div>
                  <div>
                    <label class="control-label">
                      <input name="price-list-type" type="radio" v-model="editing_price_list.price_list_type" value="sales"> 銷售
                    </label>
                  </div>
                  <span class="text-danger">{{ errors.price_list_type }}</span>
                </div>
              </div>
            </div>

          </div> <!-- modal body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            <button v-if="mode === 'edit'" type="button" class="btn btn-primary" @click="updatePriceList">儲存</button>
            <button v-if="mode === 'new'" type="button" class="btn btn-primary" @click="createPriceList">建立</button>
          </div>
        </div>
      </div>
    </div>

    <%= render 'common/vue_data' %>

  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  new Vue({
    el: "#price-lists-page",
    data: {
      price_lists: [],
      editing_price_list: {},
      mode: null,
      errors: {}
    },
    ready: function() {
      this.getPriceList()
      this.registerClearErrorsWhenClickModalOutside()
    },
    computed: {
      form_title: function() {
        if (this.mode === 'new') { return '建立 Price List' }
        else if (this.mode === 'edit') { return '編輯 Price List' }      }
    },
    methods: {
      registerClearErrorsWhenClickModalOutside: function() {
        var that = this
        $('#price-lists-form-modal').on('hide.bs.modal', function() {
          that.errors = {}
        })
      },
      getPriceList: function() {
        var that = this
        $.ajax({
          url: '/api/v1/price_lists',
          dataType: "json",
        }).done(function(data) {
          that.price_lists = data.price_lists
        }).fail(function(err) {
          console.log(err)
        })
      },
      setupEditPriceList: function(price_list_index) {
        this.editing_price_list = _.cloneDeep(this.price_lists[price_list_index])
        this.mode = 'edit'
      },
      setupNewPriceList: function() {
        this.editing_price_list = {}
        this.mode = 'new'
      },
      updatePriceList: function() {
        var that = this
        $.ajax({
          url: "/api/v1/price_lists/" + that.editing_price_list.id,
          method: "PATCH",
          dataType: "json",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: that.editing_price_list,
        }).done(function(data) {
          that.getPriceList();
          that.editing_price_list = {}
          that.errors = {}
          $('#price-lists-form-modal').modal('hide')
        }).fail(function(err) {
          console.log(err)
          that.errors = err.responseJSON.errors
        })
      },
      createPriceList: function() {
        var that = this
        $.ajax({
          url: "/api/v1/price_lists",
          method: "POST",
          dataType: "json",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: that.editing_price_list,
        }).done(function(data) {
          that.getPriceList();
          that.editing_price_list = {}
          that.errors = {}
          $('#price-lists-form-modal').modal('hide')
        }).fail(function(err) {
          console.log(err)
          that.errors = err.responseJSON.errors
        })
      },
    }
  })
</script>
<% end %>
