<div id="new-item-series-form">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">* 商品系列名稱</label>
      <div class="col-sm-4">
        <input type="text" v-model="series.name" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">商品類別(施工中)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">品牌</label>
      <div class="col-sm-4">
        <select class="form-control input-sm" v-model="series.brand_id">
          <option value="0">-- 選取品牌 --</option>
          <option v-for="brand in options.brands" v-bind:value="brand.id">
            {{ brand.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default btn-circle" data-toggle="modal" data-target="#new-brand-modal">
          <i class="fa fa-plus"></i>
        </button>
        <span>新增品牌</span>
      </div>
      <%= render "new_brand_modal" %>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">* 製造商</label>
      <div class="col-sm-4">
        <select class="form-control input-sm" v-model="series.manufacturer_id">
          <option value="0">-- 選取製造商 --</option>
          <option v-for="manufacturer in options.manufacturers" v-bind:value="manufacturer.id">
            {{ manufacturer.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default btn-circle" data-toggle="modal" data-target="#new-manufacturer-modal">
          <i class="fa fa-plus"></i>
        </button>
        <span>新增製造商</span>
      </div>
      <%= render "new_manufacturer_modal" %>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">* 儲運條件</label>
      <div class="col-sm-4">
        <select class="form-control input-sm" v-model="series.storage_and_transport_condition">
          <option value="0">-- 選取儲運條件 --</option>
          <option v-for="storage_and_transport_condition in options.storage_and_transport_conditions" v-bind:value="storage_and_transport_condition.id">
            {{ storage_and_transport_condition.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <input type="text" placeholder="輸入儲運條件備註" class="form-control input-sm" v-model="series.storage_and_transport_condition_note" v-show="series.storage_and_transport_condition === 'other'">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="col-sm-2 control-label">商品原材料</label>
      <div class="col-sm-4">
        <input type="text" v-model="series.raw_material" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">主副原料</label>
      <div class="col-sm-4">
        <input type="text" v-model="series.main_and_auxiliary_material" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">食品添加物</label>
      <div class="col-sm-4">
        <input type="text" v-model="series.food_additives" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">警語</label>
      <div class="col-sm-4">
        <input type="text" v-model="series.warnings" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <button v-on:click="submitForm" class="btn btn-primary">建立新商品系列</button>
      </div>
    </div>

    <%= render 'common/vue_data' %>
  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
new Vue({
  el: '#new-item-series-form',
  data: {
    options: {
      brands: [],
      manufacturers: [],
      storage_and_transport_conditions: [
        { id: 'freezing',         name: '冷凍' },
        { id: 'refrigeration',    name: '冷藏' },
        { id: 'eighteen_degrees', name: '18度C' },
        { id: 'room_temperature', name: '常溫' },
        { id: 'other',            name: '其他' },
      ],
    },
    series: {
      brand_id: 0,
      name: null,
      manufacturer_id: 0,
      storage_and_transport_condition: 0,
      storage_and_transport_condition_note: null,
      raw_material: null,
      main_and_auxiliary_material: null,
      food_additives: null,
      warnings: null
    },
    itemTemplate: {
      name: "",
      tags: [],
      description: "",
      on_hand_count: null,
      cost_per_unit: null,
      purchase_price: null,
      wholesale_price: null,
      retail_price: null,
      low_stock_alert_level: null,
    },
    new_brand_name: "",
    new_manufacturer: { location_type: 'domestic' },
  },
  ready: function() {
    this.getBrandList()
    this.getManufacturerList()
  },
  methods: {
    submitForm: function() {
      that = this
      $.ajax({
        url: "/api/v1/item_series",
        method: 'POST',
        dataType: 'JSON',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {item_series: that.series}
      }).done(function(data) {
        alert('成功建立商品系列')
        window.location.href = "/item_series/" + data.id
      }).fail(function(err) {
        console.log(err)
        alert(err.responseJSON.errors)
      })
    },
    getBrandList: function() {
      that = this;
      $.ajax({
        url: "/api/v1/brands"
      }).done(function(data) {
        that.options.brands = data.brands
      })
    },
    getManufacturerList: function() {
      that = this;
      $.ajax({
        url: "/api/v1/manufacturers"
      }).done(function(data) {
        that.options.manufacturers = data.manufacturers
      })
    },
    createBrand: function() {
      that = this;
      $.ajax({
        url: "/api/v1/brands",
        method: 'POST',
        dataType: 'JSON',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {brand: {name: that.new_brand_name}}
      }).done(function(data) {
        that.options.brands.push(data.brand)
        that.series.brand_id = data.brand.id
        $("#new-brand-modal").modal('hide')
      }).fail(function(err) {
        console.log(err)
        alert(err.responseJSON.errors)
      })
    },
    createManufacturer: function() {
      that = this;
      $.ajax({
        url: "/api/v1/manufacturers",
        method: 'POST',
        dataType: 'JSON',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          name: that.new_manufacturer.name,
          location_type: that.new_manufacturer.location_type,
          registration_number: that.new_manufacturer.registration_number,
          address: that.new_manufacturer.address
        }
      }).done(function(data) {
        that.options.manufacturers.push(data.manufacturer)
        that.series.manufacturer_id = data.manufacturer.id
        $("#new-manufacturer-modal").modal('hide')
      }).fail(function(err) {
        console.log(err)
        alert(err.responseJSON.errors)
      })
    }
  }
});
</script>
<% end %>
