<div id="tax-types-page">
  <div>
    <button
      class="btn btn-default btn-md"
      data-toggle="modal"
      data-target="#tax-types-form-modal"
      @click="setupNewTaxType">新增稅別</button>

    </button>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名稱</th>
          <th>稅率</th>
          <th>預設</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tax_type in tax_types"
            class="cursor-pointer"
            data-toggle="modal"
            data-target="#tax-types-form-modal"
            @click="setupEditTaxType($index)">
          <td>{{ tax_type.name }}</td>
          <td>{{ tax_type.percentage }} %</td>
          <td><i class="fa fa-check" v-show="tax_type.default"></i></td>
        </tr>
      </tbody>
    </table>

    <!-- Edit tax_types modal -->
    <div class="modal inmodal" id="tax-types-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content animated fadeIn">

          <div class="modal-header">
            <h4 class="modal-title">{{ form_title }}</h4>
          </div>

          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group" v-bind:class="{ 'has-error': errors.name }">
                <label class="col-md-3 control-label">* 名稱</label>
                <div class="col-md-7">
                  <input type="text" class="form-control input-sm" v-model="editing_tax_type.name">
                  <span class="text-danger">{{ errors.name }}</span>
                </div>
              </div>
              <div class="form-group" v-bind:class="{ 'has-error': errors.percentage }">
                <label class="col-md-3 control-label">* 稅率</label>
                <div class="col-md-7">
                  <div class="col-md-4 row"><input type="number" min="0" max="100" step="1" class="form-control input-sm" v-model="editing_tax_type.percentage"></div>
                  <div class="col-md-4"><label class="control-label">%</label></div>
                  <!-- FIXME: Layout need to be refined -->
                  <span class="text-danger">{{ errors.percentage }}</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                  <div class="checkbox">
                    <label class="control-label">
                      <i v-if="editing_tax_type.default_was" class="fa fa-check"></i>
                      <input v-else type="checkbox" v-model="editing_tax_type.default">
                      預設稅別
                    </label>
                  </div>
                </div>
              </div>

            </div>

          </div> <!-- modal body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
            <button v-if="mode === 'edit'" type="button" class="btn btn-primary" @click="updateTaxType">儲存</button>
            <button v-if="mode === 'new'" type="button" class="btn btn-primary" @click="createTaxType">建立</button>
          </div>
        </div>
      </div>
    </div>

    <%= render 'common/vue_data' %>

  </div>
</div>

<% content_for :js do %>
<script type="text/javascript">
  new Vue({
    el: "#tax-types-page",
    data: {
      tax_types: [],
      editing_tax_type: {},
      mode: null,
      errors: {}
    },
    ready: function() {
      this.getTaxTypeList()
      this.registerClearErrorsWhenClickModalOutside()
    },
    computed: {
      form_title: function() {
        if (this.mode === 'new') { return '建立稅別' }
        else if (this.mode === 'edit') { return '編輯稅別' }
      }
    },
    methods: {
      registerClearErrorsWhenClickModalOutside: function() {
        var that = this
        $('#tax-types-form-modal').on('hide.bs.modal', function() {
          that.errors = {}
        })
      },
      getTaxTypeList: function() {
        var that = this
        $.ajax({
          url: '/api/v1/tax_types',
          dataType: "json",
        }).done(function(data) {
          that.tax_types = data.tax_types
        }).fail(function(err) {
          console.log(err)
        })
      },
      setupEditTaxType: function(tax_type_index) {
        this.editing_tax_type = _.cloneDeep(this.tax_types[tax_type_index])
        this.editing_tax_type.default_was = this.editing_tax_type.default
        this.mode = 'edit'
      },
      setupNewTaxType: function() {
        this.editing_tax_type = {}
        this.editing_tax_type.default_was = false
        this.mode = 'new'
      },
      updateTaxType: function() {
        var that = this
        $.ajax({
          url: "/api/v1/tax_types/" + that.editing_tax_type.id,
          method: "PATCH",
          dataType: "json",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: that.editing_tax_type,
        }).done(function(data) {
          that.getTaxTypeList();
          that.editing_tax_type = {}
          that.errors = {}
          $('#tax-types-form-modal').modal('hide')
        }).fail(function(err) {
          console.log(err)
          that.errors = err.responseJSON.errors
        })
      },
      createTaxType: function() {
        var that = this
        $.ajax({
          url: "/api/v1/tax_types",
          method: "POST",
          dataType: "json",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: that.editing_tax_type,
        }).done(function(data) {
          that.getTaxTypeList();
          that.editing_tax_type = {}
          that.errors = {}
          $('#tax-types-form-modal').modal('hide')
        }).fail(function(err) {
          console.log(err)
          that.errors = err.responseJSON.errors
        })
      },
    }
  })
</script>
<% end %>
