<div id="new-item-form">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">* 商品名稱</label>
      <div class="col-md-4">
        <input type="text" v-model="item.name" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">SKU</label>
      <div class="col-md-4">
        <input type="text" v-model="item.sku" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">商品類別</label>
      <div class="col-md-4">
        <input type="text" v-model="item.tags" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">品牌</label>
      <div class="col-md-4">
        <select class="form-control" v-model="series.brand_id">
          <option value="0">-- 選取品牌 --</option>
          <option v-for="brand in options.brands" v-bind:value="brand.id">
            {{ brand.name }}
          </option>
        </select>
      </div>
      <button class="btn btn-default btn-circle" data-toggle="modal" data-target="#new-brand-modal">
        <i class="fa fa-plus"></i>
      </button>
      <span>新增品牌</span>
      <%= render "new_brand_modal" %>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">製造商</label>
      <div class="col-md-4">
        <select class="form-control" v-model="series.manufacturer_id">
          <option value="0">-- 選取製造商 --</option>
          <option v-for="manufacturer in options.manufacturers" v-bind:value="manufacturer.id">
            {{ manufacturer.name }}
          </option>
        </select>
      </div>
      <button class="btn btn-default btn-circle" data-toggle="modal" data-target="#new-manufacturer-modal">
        <i class="fa fa-plus"></i>
      </button>
      <span>新增製造商</span>
      <%= render "new_manufacturer_modal" %>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">儲運條件</label>
      <div class="col-md-4">
        <select class="form-control" v-model="series.storage_and_transport_condition_id">
          <option value="0">-- 選取儲運條件 --</option>
          <option v-for="storage_and_transport_condition in options.storage_and_transport_conditions" v-bind:value="storage_and_transport_condition.id">
            {{ storage_and_transport_condition.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">商品描述</label>
      <div class="col-md-4">
        <input type="text" v-model="item.description" class="form-control input-sm">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="col-md-2 control-label">在庫數量</label>
      <div class="col-md-2">
        <input type="number" v-model="item.on_hand_count" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">單位買進成本</label>
      <div class="col-md-2">
        <input type="number" v-model="item.cost_per_unit" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">進貨價</label>
      <div class="col-md-2">
        <input type="number" v-model="item.purchase_price" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">批發價</label>
      <div class="col-md-2">
        <input type="number" v-model="item.wholesale_price" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">零售價</label>
      <div class="col-md-2">
        <input type="number" v-model="item.retail_price" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">低庫存警示量</label>
      <div class="col-md-2">
        <input type="number" v-model="item.low_stock_alert_level" class="form-control input-sm">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <button v-on:click="submitForm" class="btn btn-primary">建立新商品</button>
      </div>
    </div>

  <% if Rails.env.development? %>
    <div>
      <pre>{{ $data | json }}</pre>
    </div>
  <% end %>
  </div>
</div>
