<template id="customer-selector">
  <label>客戶</label>
  <select v-if="editable" @change="updateSelectedCustomer" v-model="customer.id" class="m-l">
    <option selected disabled value="">-- 選取客戶 --</option>
    <option
      v-for="customer in customers"
      v-bind:value="customer.id">{{ customer.name }}</option>
  </select>
  <span v-else class="m-l">{{ customer && customer.name }}</span>
  <span v-if="error_message" class="text-danger">{{ error_message }}</span>
</template>

<script type="text/javascript">
  var CustomerSelector = Vue.extend({
    template: '#customer-selector',
    props: {
      customers: Array,
      customer: {
        type: Object,
        default: function() { return {} }
      },
      mode: String,
      error_message: String,
    },
    computed: {
      editable: function() {
        return !!(this.mode === 'new' || (this.mode === 'edit' && this.customer)) // If mode is edit, editable after customer is loaded
      }
    },
    watch: {
      "customer.id": function(value, old_value) {
        // In edit mode, When customer loaded, we need to load customer location list.
        if (this.mode === 'edit' && !old_value && !!value) {
          this.$store.dispatch('getCustomerLocationList', value)
        }
      }
    },
    methods: {
      updateSelectedCustomer: function(e) {
        this.$store.dispatch('customerSelected', parseInt(e.target.value))
      }
    }
  })
</script>
