<template id="line-item-selector">
  <tr>
    <td></td>

    <td><!-- 品名 -->
      <select class="input-sm form-control" @input="itemSelected">
        <option selected disabled value="">-- 請選取商品 --</option>
        <option v-for="i in items" v-bind:value="i.id">{{ i.sku + ' - ' + i.name }}</option>
      </select>
    </td>

    <td><!-- 出貨量 -->
      <input class="no-border no-outline" type="number" min="1" v-model="line_item.quantity" placeholder="數量" @input="updateQuantity" number>
    </td>

    <!-- 可用量 -->
    <td>{{ available_count }}</td>

    <td><!-- 單價 -->
      <input class="no-border no-outline input-s-sm" type="number" min="0" placeholder="單價" @input="updateUnitPrice" number>
    </td>

    <td><!-- 稅率 -->
      <input class="no-border no-outline input-s-sm" type="number" min="0" placeholder="稅率" @input="updateTaxRate" number>%
    </td>

    <td>{{ total }}</td><!-- 金額 -->

    <td>
      <div @click="pressDeleteButton" class="cursor-pointer"><i class="fa fa-trash-o"></i></div>
    </td>
  </tr>
</template>

<script type="text/javascript">
  var LineItemSelector = Vue.extend({
    template: '#line-item-selector',
    props: {
      line_item: Object,
      line_item_index: Number,
      items: Array,
    },
    data: function() {
      return {
        // unit_price: null
      }
    },
    computed: {
      available_count: function() {
        if (_.isNil(this.line_item.item_id)) { return null }
        var that = this
        var item = _.find(this.items, function(item) { return item.id == that.line_item.item_id })
        return item.available_count
      },
      total: function() {
        var total = 0
        var unit_price = parseFloat(this.line_item.unit_price)
        if (this.line_item.item_id && _.isInteger(this.line_item.quantity) && _.isNumber(unit_price)) {
          total = this.line_item.quantity * unit_price
        }
        total = _.isNumber(total) && !_.isNaN(total) ? total : 0
        return total
      },
    },
    watch: {
      total: function(value) {
        if (_.isNumber(value) && !_.isNaN(value)) {
          this.$store.commit('updateLineItemTotal', { line_item_index: this.line_item_index, total: value })
        }
      }
    },
    methods: {
      itemSelected: function(e) {
        this.$store.dispatch('itemSelected', { line_item_index: this.line_item_index, item_id: parseInt(e.target.value) })
      },
      pressDeleteButton: function() {
        this.$store.dispatch('removeLineItemByIndex', this.line_item_index)
      },
      updateQuantity: function(e) {
        var quantity = parseInt(e.target.value)
        this.$store.dispatch('updateQuantity', { line_item_index: this.line_item_index, quantity: quantity })
      },
      updateUnitPrice: function(e) {
        var unit_price = parseInt(e.target.value)
        this.$store.dispatch('updateUnitPrice', { line_item_index: this.line_item_index, unit_price: unit_price })
      },
      updateTaxRate: function(e) {
        var tax_rate = parseInt(e.target.value)
        this.$store.dispatch('updateTaxRate', { line_item_index: this.line_item_index, tax_rate: tax_rate })
      },
    }
  })
</script>
