<template id="line-item-selector">
  <tr>
    <td></td>

    <td><!-- 品名 -->
      <select v-if="is_editing" class="input-sm form-control" @change="updateSelectedItem" v-model="line_item.item_id">
        <option disabled value="">-- 請選取商品 --</option>
        <option v-for="i in items" v-bind:value="i.id">{{ i.sku + ' - ' + i.name }}</option>
      </select>
      <span v-else>{{ line_item.item.name }}</span>
      <span v-if="line_item.errors && line_item.errors.item_id" class="text-danger">{{ line_item.errors.item_id }}</span>
    </td>

    <td><!-- 出貨量 -->
      <input v-if="is_editing" class="no-border no-outline" type="number" min="1" max="{{ sellable_quantity }}" v-model="line_item.quantity" placeholder="數量" @input="updateQuantity" number>
      <span v-else>{{ line_item.quantity }}</span>
    </td>

    <!-- 可售量 -->
    <td>{{ sellable_quantity }}</td>

    <td><!-- 單價 -->
      <input v-if="is_editing" v-model="line_item.unit_price" class="no-border no-outline input-s-sm" type="number" min="0" placeholder="單價" @input="updateUnitPrice" number>
      <span v-else>{{ line_item.unit_price }}</span>
      <span v-if="line_item.errors && line_item.errors.unit_price" class="text-danger">{{ line_item.errors.unit_price }}</span>
    </td>

    <td><!-- 稅率 -->
      <input v-if="is_editing" v-model="line_item.tax_rate" class="no-border no-outline input-s-sm" type="number" min="0" placeholder="稅率" @input="updateTaxRate" number>%
      <span v-else>{{ line_item.tax_rate }}</span>
      <span v-if="line_item.errors && line_item.errors.tax_rate" class="text-danger">{{ line_item.errors.tax_rate }}</span>
    </td>

    <td>{{ total }}</td><!-- 金額 -->

    <td v-if="is_editing">
      <div @click="pressDeleteButton" class="cursor-pointer"><i class="fa fa-trash-o"></i></div>
    </td>
  </tr>
</template>

<script type="text/javascript">
  var LineItemSelector = Vue.extend({
    template: '#line-item-selector',
    props: {
      line_item: {
        type: Object,
        default: function() { return { item_id: "" } },
      },
      line_item_index: Number,
      items: Array,
      ship_from_location_id: {}, // {} for defining nothing
      mode: String,
      is_editing: Boolean,
    },
    data: function() {
      return {
        location_sellable_quantity: null
      }
    },
    ready: function() {
      this.updateOnHandCount()
    },
    computed: {
      sellable_quantity: function() {
        return this.location_sellable_quantity + this.line_item.committed_quantity
      },
      total: function() {
        var total = 0
        var unit_price = parseFloat(this.line_item.unit_price)
        if (this.line_item.item_id && _.isInteger(this.line_item.quantity) && _.isNumber(unit_price)) {
          total = this.line_item.quantity * unit_price
        }
        total = _.isNumber(total) && !_.isNaN(total) ? total : 0
        return total
      },
    },
    watch: {
      total: function(value) {
        if (_.isNumber(value) && !_.isNaN(value)) {
          this.$store.commit('updateLineItemTotal', { line_item_index: this.line_item_index, total: value })
        }
      },
      ship_from_location_id: function(value, old_value) {
        if (value) {
          this.updateOnHandCount()
        }
      },
    },
    methods: {
      updateSelectedItem: function(e) {
        var item_id = parseInt(e.target.value)
        this.$store.dispatch('updateSelectedItem', { line_item_index: this.line_item_index, item_id: item_id })
        this.updateOnHandCount()
      },
      updateOnHandCount: function() {
        if (!this.ship_from_location_id || !this.line_item.item_id) { return }
        var that = this
        $.ajax({
          url: "/api/v1/locations/" + that.$store.state.sales_order.ship_from_location_id + "/items/" + that.line_item.item_id,
          method: 'GET',
          dataType: 'json'
        }).done(function(data) {
          that.location_sellable_quantity = data.item.location.sellable_quantity
        }).fail(function(err) {
          console.log(err)
        })
      },
      pressDeleteButton: function() {
        this.$store.dispatch('removeLineItemByIndex', this.line_item_index)
      },
      updateQuantity: function(e) {
        var quantity = parseInt(e.target.value)
        this.$store.dispatch('updateQuantity', { line_item_index: this.line_item_index, quantity: quantity })
      },
      updateUnitPrice: function(e) {
        var unit_price = parseInt(e.target.value)
        this.$store.dispatch('updateUnitPrice', { line_item_index: this.line_item_index, unit_price: unit_price })
      },
      updateTaxRate: function(e) {
        var tax_rate = parseInt(e.target.value)
        this.$store.dispatch('updateTaxRate', { line_item_index: this.line_item_index, tax_rate: tax_rate })
      },
    }
  })
</script>
