<template id="line-item-selector">
  <tr>
    <td></td>
    <td><!-- 品名 -->
      <select class="input-sm form-control" @input="itemSelected">
        <option selected disabled value="">-- 請選取商品 --</option>
        <option v-for="i in items" v-bind:value="i.id">{{ i.sku + ' - ' + i.name }}</option>
      </select>
    </td>
    <td>
      <input class="no-border no-outline" type="number" min="1" placeholder="數量" v-model="line_item.quantity" number>
    </td><!-- 出貨量 -->
    <td></td><!-- 庫存量 -->
    <td></td><!-- 單價 -->
    <td></td><!-- 稅率 -->
    <td></td><!-- 金額 -->
    <td>
      <div @click="pressDeleteButton" class="cursor-pointer"><i class="fa fa-trash-o"></i></div>
    </td>
  </tr>
</template>

<script type="text/javascript">
  var LineItemSelector = Vue.extend({
    template: '#line-item-selector',
    props: {
      line_item: Object,
      line_item_index: Number,
      items: Array,
    },
    methods: {
      itemSelected: function(e) {
        // this.$store.dispatch('itemSelected', line_item, e.target.value)
      },
      pressDeleteButton: function() {
        this.$store.dispatch('removeLineItemByIndex', this.line_item_index)
      }
    }
  })
</script>
