<template id="location-selector">
  <div class="col-md-4 form-group p-xxs">
    <label class="pull-right">{{ label }}</label>
  </div>
  <div class="col-md-8 form-group p-xxs">
    <select v-if="editable" @change="updateSelectedLocation" class="form-control input-sm">
      <option selected disabled value="">-- 選取地點 --</option>
      <option
        v-for="location in locations"
        v-bind:value="location.id">{{ location.name }}</option>
    </select>
    <span v-else>{{ location.name }}</span>
  </div>
</template>

<script type="text/javascript">
  var LocationSelector = Vue.extend({
    template: '#location-selector',
    props: {
      afterSelectedDispatchEvent: String,
      label: String,
      locations: Array,
      location: Object,
      editable: Boolean
    },
    methods: {
      updateSelectedLocation: function(e) {
        this.$store.dispatch(this.afterSelectedDispatchEvent, e.target.value)
      }
    }
  })
</script>
