<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">GTP</a> -->
        <%= link_to "GTP", root_path, class: 'navbar-brand' %>
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "登出", destroy_user_session_path, method: :delete  %></li>
        <% else %>
        <li><%= link_to "登入", new_user_session_path %></li>
        <li><%= link_to "註冊", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
