<div id="show-sales-order" class="row">
  <app
    mode="show"
    :sales_order_id="<%= @sales_order.id %>"
    :sales_order="$store.state.sales_order"
    :invoices="$store.state.invoices"
    >
  </app>
</div>

<% content_for :js do %>
<%= render 'components/sales_order/store' %>
<%= render 'components/sales_order/app' %>

<script type="text/javascript">
  new Vue({
    el: '#show-sales-order',
    store,
    components: {
      'app': App
    },
  })
</script>
<% end %>
